@charset "UTF=8";

/*
Paleta de cores:
    branco: #FFFFFF
    preto: #1F0802
    Marrom: #62221D
    Salmão: #B8473D
    Salmào claro: #FF8073
    Bege: #FFB3A6
    Bege claro: #FFD9CC
*/

* {
    margin: 0px;
    padding: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body, html {
    background-color: #FF8073;
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login {
    position: absolute;
    height: 500px;
    width: 300px;
    overflow: hidden;
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.450);
}

section#login > div#imagem {
    display: block;
    background: #B8473D url(../imagens/login.jpg) no-repeat;
    height: 200px;
    background-position: center;
    background-size: cover;

}

section#login > div#formulario {
    display: block;
    padding: 10px;
}